# Introduction to python

In [ ]:
# this is a comment line

In [ ]:
# this is a multiple line comment

"""
multiple lines
being printed as 
comment here
"""

In [ ]:
# printing lines using double quotes
print("hello! i am learning python")

In [ ]:
# printing lines using single quotes give same result as print in double quotes 

print('hello ! i am learning python')

In [ ]:
# printing line give error when opened with one type of quote and closing with other type of other
print('hello ! i am learning python")

In [ ]:
age = 24
print("My age is")
print(age)

name = 'Astha'
print("My name is")
print(name)

height = 5.1
print("My height is")
print(height)

In [2]:
sentence = "Hi all i am learning python and its cool"
len(sentence)

40

In [3]:
sentence[0]

'H'

In [ ]:
f_nm = 'Astha'
l_nm = 'Allawadhi'
nm = f_nm + l_nm
name = f_nm +" "+ l_nm  # if we want to concatinate two strings and want space between them we will just conct a space also 
print(f_nm)
print(l_nm)
print(name)
print(nm)
print(f_nm,l_nm) # if we want to print two strings together

In [ ]:
f_nm = 'Astha'
l_nm = 'Allawadhi'
errnm = f_nm - l_nm # plus will concatinate strings , minus will do nothing throw err

In [ ]:
a = 1
a

In [ ]:
a = 1
a
b = 2
b

In [ ]:
a = 2
b = 3
sum = a + b
print(sum)
type(sum)

In [ ]:
x = 1.1
y = 2.2
f = x + y
print(f)
type(f)

In [ ]:
#multple assignments

a,b,c = 1,2,3
out = a+b+c
print(out)

In [ ]:
b = 16
a = 4
c = b/a
type(c)

In [ ]:
name,age,gender = "Astha",24,"F" #multiple assignment of diffrnt data types can also be done
print(name,age,gender)

In [ ]:
a1 = a2 = a3 = 8
print(a1)
print(a2)
print(a3)

In [1]:
#boolean
state = True
state

state1 = False
state1

False

In [2]:
name,age,city,height = "Astha",24,"Delhi",5.2
print("My name is",name)
print("My age is",age)
print("my city is",city)
print("my height is",height)
type(name)
type(age) #if we simply write type it will give the result of the last variable called as we are calling it explicitely so it will show of age type

My name is Astha
My age is 24
my city is Delhi
my height is 5.2

int

In [3]:
name,age,city,height = "Astha",24,"Delhi",5.2
print("My name is",name)
print("My age is",age)
print("my city is",city)
print("my height is",height)
type(name)
type(age) #if we simply write type it will give the result of the last variable called as we are calling it explicitely
print(type(name)) #in order to get the data type of all we need to print all types 
print(type(age))
print(type(city))
print(type(height))

My name is Astha
My age is 24
my city is Delhi
my height is 5.2
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

In [4]:
#type casting - forcefully converting one data type into another
#assign float
f = 1.2
print(f)
print(type(f))

#typecasting float into int
int(f)
print(int(f))
print(type(int(f)))

1.2
<class 'float'>
1
<class 'int'>

In [ ]:
#storing typecasted varible in another variable
f = 4.5
print(f)
print(type(f))

#typecasting float into int
int(f)
print(int(f))
print(type(int(f)))

#storing
new = int(f)
print(type(new))
print("value of new is :" , new)
print("value of f is", f)

In [ ]:
a,b,c = 6.25,3,"great learning"
x = a/b
print(x)
print(type(x))

d = int(x)
y = type(d)
print("the type casted value is",d)
print("the data type of typecasted " ,y)
new = (c +" ") *  d  #when we multiply a string and an integer it will display the string the number of times the integer is
print(new)

In [ ]:
#arithmetic - addition
length = 12
width = 2

tot = length + width
print( "Addition output is %d" %tot) #%d displays the displayed thing is int

#or

print()

In [17]:
#data slicing uses index and starts from 0
nm = "greatlearning"
print(nm)
print(nm[0])
print(nm[4])
print(nm[0 : 3])
print(nm[4 : 13])
print(nm[4:])
print(nm[4:len(nm)]) 
print(nm[0 : -1])
print(nm[5 : -3])
print(nm[:len(nm)])
print(nm[0 : ])
print(nm[:- len(nm)])

greatlearning
g
t
gre
tlearning
tlearning
tlearning
greatlearnin
learn
greatlearning
greatlearning

In [ ]:
#print the bmi
h = 1.53
w = 57

BMI = w/(h*h)
print("The BMI is %f" %BMI)

In [ ]:
p= 5000
r = 7.25
t = 8
si = (p*r*t)/100
print("SI interest is %f" %si)
print("my simple interest is " +str(si)+ " for years" +str(t)) #we have to typecast si which is an int to string in order to concatinate it with print statement as print statementis also a string and only strings can be concatenated with strings

In [ ]:
#input variable is n n its value is 14
#check if the value is 12 or not
#use the logical operator

n = 14
n == 12

In [ ]:
age = 24
gen = "male"

(age >= 18) | (gen == "male")

In [ ]:
#how we can add a variable within a print statement
nm = "eddy"
greet = ("%s you are welcome !!") #greet is another strinng storin
greet%(nm)

In [ ]:
nm = "eddy"
greet = ("you are welcome !! %s")
greet%(nm)

In [ ]:
name = "Astha"
age = 24
comp = "My name is %s and my age is %d"
comp%(name,age)

In [ ]:
name = "Astha"
age = 24
comp = ("My name is %s and my age is %d")
print(comp%(name,age))
comp = ("dskjkd %s %d")
print(comp%(name,age))

# advance data types
##tuple
##list
##set
##dictionary

In [7]:
#create tuple for fruits
fruits = ("apple","cherry","cherry","banana","grapes")
print(fruits)
type(fruits)

#data slicing is picking up elements from the tuple
#to get the first element
print(fruits[0])
#data slicing from 2nd element to last       
print(fruits[2:len(fruits)]) 
#data slicing from 2nd element to last 
print(fruits[3:len(fruits)])
fruits[0:-2] #reverse indexing means applying -ve to index .. this means have to print all elements except last 2 , there fore -2
#del fruits[3] #in order to delete one element

('apple', 'cherry', 'cherry', 'banana', 'grapes')
apple
('cherry', 'banana', 'grapes')
('banana', 'grapes')

('apple', 'cherry', 'cherry')

In [ ]:
fruits = ("apple","cherry","cherry","banana","grapes")
price = (20,30,30,10,50)
#add tuples and create new tuple
out_tuple = fruits + price
print(out_tuple)
#replace the third element of out tuple with berry
#out_tuple[2] = "beryy" #but this will throw error as tuple can't be modified
fruits = fruits + out_tuple #it is dropping the orignal fruits tuple and creating new tuple

In [ ]:
#advance data types
#tuple - () - the elements of tuple could be of same data type or could be diff

name = ("ann","grace")
print(type(name))
print("My name is :", name)

In [ ]:
t1 = ("mark" , 28, "Banglore")
print("age is : {}".format(t1[1])) #here {} is used for tuple elements as %d for integer to publish elements
print("name is : {}".format(t1[0]))

In [ ]:
age = (40,35,8,5)
print(age)
print(sorted(age)) #to sort the tuple in asc order , these are ascending by default
print(age)

In [ ]:
a = (2,1,4)
sorted(a, reverse = True) #to sort tuple in the desc order

In [ ]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 = t1 + t2 #here we are not updating the tuple we are just overriting the t1 tuple , we can concatinate a tuple though
print(t1)

In [ ]:
t1[1] = 24 #tuple cannot be updated here we are trying to update the first element of t1 tuple but this will throw error

In [ ]:
i = 0
i+=1 #increment function it is equal to i = i +1
print(i)

In [ ]:
##create a set - set is denoted by - {}
#set is indexed in random order
#set removes duplicates
#when we add an element to set it will randomly insert it anywhere


ss = {"Apple","banana","apple", "cherry","cherry","banana"}
print(ss) #it removed duplicates

ss.add("mango") #to add one element
print(ss)

ss.remove("apple") #to delete on element
print(ss)

In [ ]:
## list denoted by - []
## unlike set it doesnt removes duplicate , it is indexed. and unlike tuples it can be modified, adds new element at the end

list = ["Apple","banana","apple", "cherry","cherry","banana"]
print(list)

list.append("chiku") #to add the new element
print(list)

l = len(list) #finding length of lis
print(l)
del list[2] #deleting element from list
print(list)

list[1] = "kiwi" #replacing element of list with new element
print(list)

In [ ]:
snack = ["burger","waffle","coke"]
len(list) == len(snack) #comparing length of two lists

In [ ]:
new = list + snack
print(new)

In [ ]:
#type casting new which is a list into a set data type
set(new)  #the output will also show in curly braces as it is typecasted into set

In [ ]:
#list supports min,max,sum,length n sort functions
num =[21,3,4,5,6]
print(num)
print(min(num))
print(max(num))
#print(sum(num))
print(len(num))
num.sort()
print(num)
#sum(num)

In [ ]:
#joining list with newline n tab n sentence before each element in the list


aw = "\n".join(snack) #will put newline between each element of list
print(aw)

aw = "\t".join(snack) #will put tab between each element of list
print(aw)

aw = "\n".join(["hi","how","r"]) #here we are passing list on the spot
print(aw)

aw = "\t".join(["hi","how","r"])
print(aw)

# dictionary -{ key1 : value1, key2 : value2}

In [ ]:
students = {"addy":26 ,"maria":25 , "jack" : 28} #defining student dictionary
print(students)
type(students)

In [ ]:
students["jack"]  #pass thename of the student as it is key and get the age as it is value

In [4]:
students = {"addy":26 ,"maria":25 , "jack" : 28}
students.keys()

dict_keys(['addy', 'maria', 'jack'])

In [5]:
students.values()

dict_values([26, 25, 28])

In [ ]:
# dictionary

x = {"q" : 1, "e":2, "w":3 ,"z":5}
print(sorted(x))

In [ ]:
students["jack"] = 21
print(students)

In [ ]:
del students["jack"]
students

In [ ]:
len(students)

In [ ]:
students["maria"] #to enter the key and get the values from a dictionary

In [ ]:
#two level drill down
elements ={"hydrogen" : { "type" : "gas" , "atomic number" : 1} , "potassium" : { "type" : "metal" , "atomic number" : "19"}}
elements["hydrogen"]["type"]

# conditional statement

In [ ]:
#if - else conditional statement
if(3>5) :
     print("3 is greater than 5")
else :
     print("the statement is wrong")

In [ ]:
usernm = "gl"
pwd = "pwd123"

if (usernm == "gl" and pwd == "pwd123") : #for string literals '&' doesn't work for that we need 'and'
    print("auth successful")
else :
    print("auth failed")

In [ ]:
i = 23 
if (i%2 == 0) :
    print("Even")
else :
    print("odd")

In [ ]:
#check if it is divisible by 3 and 9

i = 27
if ((i%3 ==0) & (i%9==0)) :
    print("divisible by 3 n 9")
else :
    print("not divisible")

In [ ]:
a,b,c = 15,1,6
if(a>b and a>c) :
    print("The biggest one is a",a)
elif(b>a and b>c) :
    print("The biggest is b",b)
else :
     print("The biggest is c", c)

In [ ]:
amt = 25000
if(amt>=50000):
    print("Daimond customer")
elif(amt>=25000 and amt<=50000):
    print("gold customer")
elif(amt>=10000 and amt<=25000):
    print("bronze")
elif(amt>=0 and amt<=10000):
    print("water")
else:
    print("enter amount greater then zero")

In [ ]:

#name =str(input("Enter the name"))
#print=("customer name :",name)
amt = int(input("Enter the amount")) #by default the input taken while runtime is a string , but amount here is an int quantity hence we have to typecast the input into int
#print("The amount is",amt)
if(amt == 0):
    print("enter amount greater then zero")
elif(amt>=50000):
    print("Daimond customer")
elif(amt>=25000 and amt<=50000):
    print("gold customer")
elif(amt>=10000 and amt<=25000):
    print("bronze")
else:
    print("normal customer")
#else:
    #print("enter amount greater then zero")

In [ ]:
##simple for loop
a = [1,2,3,4]
print(a)
for i in a :
    print(i)

In [ ]:
fruits =["apple","banana","cherry","kiwi"]
print(fruits)
for i in fruits :
    print(i)

In [ ]:
#print value 1 to 9
for i in range(1,10) :
    print(i)

In [ ]:
#odd numbers
for i in range(1,11,2) :
    print(i)

In [ ]:
for i in range(5,56):
    print(i)

In [ ]:
for i in range(1,100):
    if(i%2 == 0):
        print(i, "even")
    else:
        print(i,"odd")

In [ ]:
for i in range(1,100):
    if(i%2 != 0):
        s=s+i
        
print(s)

In [ ]:
odd=[] #declaring empty list to store odd values
even=[] #declaring empty list to store even values

for i in range(1,100):
    if(i%2 != 0): #we will check odd condition
        odd.append(i) # we will not print here coz we need to print it outside once we are done we will come out of the loop then print
    else:
        even.append(i) #append function will keep on adding the elements to the empty list even after checking it through if check
        
print("list of even numbers")
print(even) #print even updated list
print("Sum of even numbers")
print(sum(even)) #sum function will display sum of all the elements of the list
print("list of odd numbers")
print(odd)
print("Sum of odd numbers")
print(sum(odd))

In [ ]:
s=0
for i in range(555,1112):
    if(i%5 ==0 and i%7==0):
        s=s+i
print(s)

In [ ]:
list=[]
for i in range(555,1112):
    if(i%5 ==0 and i%7==0):
           list.append(i)

print(sum(list))

In [ ]:
for i in range(1,11):
    print("I am learning python!!")

In [ ]:
s=0
for i in range(0,10):
       for j in range(0,i+1):
            s=s+i
            print(i," ",s)

In [ ]:
for i in range(1,10):
    print("value of i :",i)
    if(i == 4):
        break
print("i have exited the loop")

In [10]:
for i in range(1,10):
    print("value of i :",i)
    if(i == 4):
        print("The person is there")
        continue

value of i : 1
value of i : 2
value of i : 3
value of i : 4
The person is there
value of i : 5
value of i : 6
value of i : 7
value of i : 8
value of i : 9

In [ ]:
#sum of first 50 natural numbers
n=50
s=0
for i in range(1,n+1):
    s=s+i
    
print(s)

In [ ]:
#while loop
k=0 #initialising the variable
while k<5: #it will run as long as k is less than 5
    print(k) #print k
    k = k+1  #incremental clause

In [ ]:
c=0
while c<5 :
    print(c)
    c=c+1
    if(c==3) :
        #print(c)
        #c=c+1
        break

In [ ]:
c=0
while c<6:
    print(c)
    c=c+1

In [ ]:
for i in range(3,7):
    print(i)

In [ ]:
c=0
while(c<5):
    print(c)
    c=c+2

In [ ]:
l = "greatlearning"
for i in l :
        print(i)

In [ ]:
tup = ('ann','works','annworks')
for i in tup :
    print(i)

In [ ]:
lis = ['ann','works','annworks']
for i in lis :
    print(i)

In [6]:
dic = {"ann" :26 ,"works" :23,"annworks" :25}
for i in dic.items() : #dic.items - this is used to get key value pair
#for i in dic.value() : if we want to get only list of values we use dic.value()
#for i in dic.key() : if we want to get only list of key we use dic.key()
    print(i)

('ann', 26)
('works', 23)
('annworks', 25)

In [ ]:
n = [6,5,3,8,4,2,5,4,11]
s =0
for i in n:
    s = s+i
    print(s)

In [ ]:
n = 6
fact = 1
for i in range(1,7):
    fact = fact*i
    
print("The factorial of 6 is :",fact)

# Functions

In [ ]:
def helloworld(): #creating a function , def is the 
    print("hello world!!")

In [ ]:
def helloworld(): #creating a function , def is the 
    print("hello world!!")
    
#function call
helloworld()

In [ ]:
#function - create a function n pass input variable
#pass variable to the function
def hello(nm):
    print("Hello",nm)
    
hello("Eddy")

In [ ]:
#passing argumnets
def printinfo(name,age):
    print("Name: ",name)
    print("Age" , age)
    return;

#calling printinfo
printinfo(age = 22,name="Ethan")

In [19]:
def printoinfo(name , age=26):
    print("Name: ",name)
    print("Age " , age)
    return;

#calling printinfo
printoinfo(name="Ethan" , )

Name:  Ethan
Age  26

In [ ]:
def area(r):
    area = 3.14*r*r
    print("area of the circle is : ",area)
    return;
#calling
   #print("Enter the radius")
    #r = int(input("Enter the radius"))
    #area(r)

In [ ]:
r = int(input("Enter the radius"))
area(r)

In [ ]:
def add(a,b):
    c=a+b
    print("sum of a and b is :" ,c)
    return;

def sub(a,b):
    d=a-b
    print("sub of a and b is :" ,d)
    return;

def prod(a,b):
    e=a*b
    print("product of a and b is :" ,e)
    return;

In [ ]:
a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))

add(a,b)
sub(a,b)
prod(a,b)

In [ ]:
def greet(lang,person):
    if(lang == 'Hindi'):
        print("Namaste ",person)
    elif(lang == "French"):
        print("Bonjour ",person)
    elif(lang == "Spanish"):
        print("Hola ",person)
    else :
        print("give valid input")
        
return;

In [ ]:
"""def greet(lang,person):
    if(lang == 'Hindi'):
        print("Namaste ",person)
    elif(lang == "French"):
        print("Bonjour ",person)
    elif(lang == "Spanish"):
        print("Hola " ,person)
    else :
        print("give valid input")
        
return;
"""
    
#calling function
person = input("Enter your name : ")
lang = input("Enter your language : ")

greet(lang,person)

In [ ]:
def func(x,y):
    z=x+y;
    return z*2;

print(func(5,6))

In [1]:
odd = []
even = []
def odev(s,e):
    
    for i in range(s,e):
            if(i%2==0):
                even.append(i)
                #print(even)
            else:
                odd.append(i)
            
    print("list of even numbers")
    print(even)
    print("list of odd numbers")
    print(odd)



odev(10,101)

list of even numbers
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
list of odd numbers
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
def cust(amt):
    if(amt ==0):
        print("enter amount greater then zero")
    elif(amt>=50000):
        print("Daimond customer")
    elif(amt>=25000 and amt<=50000):
        print("gold customer")
    elif(amt>=10000 and amt<=25000):
        print("bronze")
    else:
        print("normal")
        
        
amt = int(input("Enter your pay : "))
cust(amt)

In [6]:
def replace(el):
    list =[10,11,12,13,14,15]
    list[2] = el
    print(list)


el=int(input("Enter the new element : "))
replace(el)

Enter the new element : 5
[10, 11, 5, 13, 14, 15]

In [9]:
#pass by reference will change the orignal value
def changeme(mylist):
    mylist.append([1,2,3]) #appending the list passed --> append is used for pass by ref changing permanently
    print("Values when called from function" , mylist) #printing within function the appended list
    return

#calling function
mylist = [10,20,30] #orignally
print("My orignal list is" , mylist)
changeme(mylist) #calling function
print("Values from the main after calling " , mylist) #the list is permanently apended in the function like sort function and the new list

My orignal list is [10, 20, 30]
Values when called from function [10, 20, 30, [1, 2, 3]]
Values from the main after calling  [10, 20, 30, [1, 2, 3]]

In [10]:
#pass by reference will overrite only as long as function is called
def changeme(mylist):
    mylist = [1,2,3] #assigning new value to variable within the function
    print("Values when called from function" , mylist) #printing within function the appended list
    return

#calling function
mylist = [10,20,30] #orignally
print("My orignal list is" , mylist)
changeme(mylist) #calling function
print("Values from the main after calling " , mylist) #the list printed will be the orignal only coz

My orignal list is [10, 20, 30]
Values when called from function [1, 2, 3]
Values from the main after calling  [10, 20, 30]

In [16]:
def swap(a,b):
    #c=0;
    c=a;
    a=b;
    b=c;
    
    print("The swapped value are a : ", a)
    print("The swapped value are b : ", b)
    return

a=int(input("Enter value of a :"))
b=int(input("Enter value of b :"))
swap(a,b)

Enter value of a :5
Enter value of b :10
The swapped value are a :  10
The swapped value are b :  5

In [18]:
def swap(a,b):
    a,b=b,a #can be done by this method also
    
    print("The swapped value are a : ", a)
    print("The swapped value are b : ", b)
    return

a=int(input("Enter value of a :"))
b=int(input("Enter value of b :"))
swap(a,b)

Enter value of a :7
Enter value of b :8
The swapped value are a :  8
The swapped value are b :  7

In [20]:
#scope  of variable
total = 0; #global variable outside function is declared
#function definition
def sum(arg1,arg2):
    total=arg1+arg2
    print("inside function local toatal is :" , total)
    return total;

#calling function
sum(10,20)
print("outside function the global variable is :",total)

inside function local toatal is : 30
outside function the global variable is : 0

In [22]:
def converter(l):
    d=l/1000;
    print("The distance in km with function is locally : ",d)
    
d=4500
converter(8000)
print("The distance in km outside function is globally : ",d)

The distance in km with function is locally :  8.0
The distance in km outside function is globally :  4500

In [23]:
def weeks(d):
    week=d//7 #// will give the quotient into int form whereas /will convert into float
    days=d%7  #reminder will give number of leftover days
    print(week ," weeks")
    print(days , "days")
    return

d=int(input("Enter the number of days"))
weeks(d)

Enter the number of days89
12  weeks
5 days

In [25]:
def temp(t):
    c=(t-32)*(5/9)
    print("temp in celcius is" , c)
    
temp(90)

temp in celcius is 32.22222222222222

In [9]:
def prime(num):
    if num > 1:
        for i in range(2,num):
            if(num%i==0):
                print("Not a prime number")
                break
        else:
                print("it is prime")
    else:
        print("not prime!!")
        
prime(15)

Not a prime number

In [ ]:
for i in range (1,num)

In [28]:
def pal(my_str):
    my_str = my_str.casefold() #casefold is used to bring string in uniform case so it would be easier to compare
    
    rev_str = reversed(my_str) #reversed my_str
    
    if (list(my_str) == list(rev_str)): #we have typecasted the my_str to list datatype so as it is uniform to compare
        print("it is a pallindrome")
        
    else :
        print("No!!")

        #calling function      
pal("madam")

it is a pallindrome

In [30]:
def f():
    global s #using global keyword to define the variable in function as we are not passing the arg in function
    print(s)  #it will print orignal global value as above we have used global keyword
    s = "juzz awesome" #now value of s is changed
    print(s) #it will print new value of s
    
#Global scope
s = "python is great"
print(s)
f()
print(s)

python is great
python is great
juzz awesome
juzz awesome

In [31]:
str ="great"
str[::-1] #use this to reverse it works for everything , list,tuplr

'taerg'

In [52]:
a,b=0,1
c=0
list=[]
for i in range(1,10):
    
    
    #print(a,b,c)
    #list.append([a,b,c])
    
    c=a+b
    
    print(a," ")
    a=b 
    b=c
    
    
    
#print(list)

0
1
1
2
3
5
8
13
21

# lambda - anonymous function

In [55]:
add = lambda a,b,c : a+b+c #lambda is define and assigned at the moment
add(1,2,3)

6

In [56]:
num =int(input("enter number : "))
cube = lambda x : x**3 #** is used for power
cube(num)

enter number : 5

125

In [58]:
def myfunc(n):
    return lambda a : a*n

mytripler = myfunc(3)
mytripler(11)

33

In [59]:
def myfunc(n):
    #return lambda a : a*n
    mytripler = lambda a : a*n
    return mytripler

mytripler = myfunc(3)
mytripler(11)

33

# Filter

In [4]:
#filter - filters out all the elements of a sequence "sequence",for which the function returns true
#
li =[5,7,2,97]
final_list= list(filter(lambda x : (x%2 == 0), li)) #we have typecasted the output 
print(final_list)
#print(li)

[2]

In [ ]:
dict_a

In [3]:
#Reduce
from functools import reduce #reduce function is present in functools library every time we want to use reduce function we have to import that
lis =[1,2,3,4,5] #given list
sum = reduce((lambda x,y : x+y),lis) #cumulatively adding/aggregating elements eg (((((5+8)+10)+20)+50)+100).
print(sum)

15

In [6]:
import functools #importing functools lib to use reduce function
import operator  #importing operator lib to use mul function which will multiply
lis = [1,2,3,4,5,6] #initialising list
print("The product of list is :",end= " ") #end = is used to provide the next line output in the same above print statement
print(functools.reduce(operator.mul,lis)) #multiplicating all the elements of list using operators rather than lambda function

The product of list is : 720

# Difference between reduce and accumulator

In [ ]:
# Both reduce() and accumulate() can be used to calculate the summation of a sequence elements.
# reduce() is defined in functools module, accumulate() in itertools module.
# reduce() stores the intermediate result and only returns the final summation value. 
# accumulate() returns a list containing the intermediate results.The last number of the 
# list returned is summation value of the list.

In [7]:
# importing itertools for accumulate() 
import itertools 
  
# importing functools for reduce() 
import functools

In [8]:
# priting summation using accumulate() 
print ("The summation of list using accumulate is :",end="") 
print (list(itertools.accumulate(lis,lambda x,y : x+y))) # for accumulator we use lis before lambda

The summation of list using accumulate is :[1, 3, 6, 10, 15, 21]

In [9]:
# priting summation using reduce() 
print ("The summation of list using reduce is :",end="") 
print (functools.reduce(lambda x,y:x+y,lis)) #whereas for reduce we use ,lis after defining lambda function

The summation of list using reduce is :21

In [10]:
lis =[1,2,3,4,5,6]
#printing summation using accumulate
final_list = list(itertools.accumulate(operator.add,lis)) #itertools i.e accumulate doesnt support operator function
#listfinal = list(final_list)
print(final_list)

TypeError: 'builtin_function_or_method' object is not iterable

In [15]:
lis =[1,2,3,4,5,6]
#printing summation using reduce
final_list = functools.reduce(operator.add,lis) #
#listfinal = list(final_list) - we need not to typecast the rsult of reduce as we are getting a solid single int as a result
print(final_list)

21